.pie-container {
    position: relative;
    width: 345px;
    font-size: 10px;
    font-weight: 500;
    margin: auto;
}

.header {
    min-height: 2em;
    line-height: 2em;
    display: flex;
    padding-left:  24px;
    padding-right: 24px;
    font-size: 20px;
    justify-content: space-between;
    & h6 {
        height: inherit;
        line-height: inherit;
        margin: 0px;
    }
}