.header {
    min-height: 2em;
    line-height: 2em;
    display: flex;
    padding-left:  24px;
    padding-right: 24px;
    font-size: 20px;
    justify-content: space-between;
    & h6 {
        height: inherit;
        line-height: inherit;
        margin: 0px;
    }
}

.mat-header-cell .mat-sort-header-sorted {
    color: black;
}
