.row.bg-primary {
  margin-bottom: 3.125em;
}
.text-center.title {
  color:#fff;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  width: 100vw;
}

/*
// Tables
table.table {
  border-radius: .5em !important;
}
// Graphs
.graph {
  margin-bottom: 3.5em;
}
.col-md-10.graph.card {
  padding: 0;
}
*/