<div class="container-fluid">
    <page-title title="Dashboard"></page-title>
    <div class="row justify-content-around">
        <div class="col-md-6">
            <div class="mat-elevation-z4">
                <types-of-views-pie></types-of-views-pie>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mat-elevation-z4">
                <views-by-country-pie></views-by-country-pie>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div class="mat-elevation-z4">
                <total-views-bar></total-views-bar>
            </div>
        </div>-->
    </div>
    <div class="row justify-content-around">
        <div class="col-md-6">
            <div class="mat-elevation-z4">
                <dashboard-top-products-table></dashboard-top-products-table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mat-elevation-z4">
                <dashboard-views-by-firm-table></dashboard-views-by-firm-table>
            </div>
        </div>
    </div>
</div>
