.row.view-toggle-container {
    margin-top: 2em;
    margin-bottom: 2em;
}
.text-center.title {
    color:#fff;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: 100%;
}
// table structure
.header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}
.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}
.col-md-6,.col-md-4 {
    margin-bottom: 2em;
}
 