.col-md-6,.col-md-12 {
    margin-top: 2em;
}
.info {
    padding-top: 10px;
    & div {
        height: 120px;
        font-family: inherit;
        padding-left: 24px;
        box-sizing: border-box;
        & h6 {
            height: 30px;
            margin: 0px;
            & span {
                font-weight: normal;
                color: #777;
            }
        }
    }
}

@media(min-width: 768px) {
    .info div {
        display: inline-block;
        width: 49%;
    }
}