<div class="container-fluid">
  <page-title [title]="pageTitle"></page-title>
  <div *ngIf="!isLoaded">
    <div class="text-center" style="position: absolute; top: 48vh; left: 50vw; margin-right: -50%;
    transform: translate(-50%, -50%);">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
  <div *ngIf="isLoaded" class="row justify-content-around tables-container">
    <!--<div class="col-md-12">
      <div class="mat-elevation-z4 info">
        <div>
            <h6>Issuer: <span>{{data.issuer}}</span></h6>
            <h6>Asset Class: <span>{{data.asset_class}}</span></h6>
            <h6>Development Class: <span>{{data.development_class}}</span></h6>
            <h6>Category: <span>{{data.category}}</span></h6>
        </div> 
        <div>
            <h6>Region: <span>{{data.region}}</span></h6>              
            <h6>Sub-Region: <span>{{data.sub_region}}</span></h6>
            <h6>Total Views: <span>{{data.view_count}}</span></h6>
            <h6>Last updated: <span>{{data.updated_at}}</span></h6>
        </div>
      </div>
    </div>-->
    <div class="col-md-12">
      <firm-views-table [firmId]="firmId"></firm-views-table>
    </div>
    <div class="col-md-12">
        <firm-actions-table [firmId]="firmId"></firm-actions-table>
    </div>
  </div>
</div>