.header {
    height: 40px;
    display: flex;
    align-items: baseline;
    padding-left: 24px;
    font-size: 20px;
    justify-content: space-between;
    & h6 {
      height: inherit;
      line-height: 40px;
      margin: 0px;
    }
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}
  
.mat-table {
  overflow: auto;
  max-height: 34em;
}

.fixed-width{
  flex: 0 0 100px;
}
  