.jumbotron-container {
    position: fixed;
    width: 100%;
    top: 140px;
    text-align: center;
}

.jumbotron {
    position: relative;
    margin: auto;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    transition: padding 0.3s, width 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: white;
    & button {
        margin: 5px 0px 10px 0px;
    }
}

@media(min-width: 500px) {
    .jumbotron {
        width: 500px;
        background-color: #f7f7f7;
        -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);

    }
}